/*
Error: Inconsistent indentation: 2 spaces were used for indentation, but the rest of the document was indented using 4 spaces.
        on line 343 of /home/durand/Stuff/Data_Science/women-in-parliament/mps_over_time.js

338:         .attr("class", "x-label")
339:         .text("Time")
340: 
341:     wrapper.append("text")
342:     .attr("transform", "rotate(-90)")
343:   .attr("y", 0 - margin.left/2)
344:   .attr("x",0 - (height / 2))
345:         .attr("class", "y-label")
346:         .text("Number of MPs")
347: 
348:     // Add zoom capabilities for the points

Backtrace:
/home/durand/Stuff/Data_Science/women-in-parliament/mps_over_time.js:343
/var/lib/gems/2.3.0/gems/sass-3.4.22/lib/sass/engine.rb:486:in `block in tabulate'
/var/lib/gems/2.3.0/gems/sass-3.4.22/lib/sass/engine.rb:444:in `each'
/var/lib/gems/2.3.0/gems/sass-3.4.22/lib/sass/engine.rb:444:in `each_with_index'
/var/lib/gems/2.3.0/gems/sass-3.4.22/lib/sass/engine.rb:444:in `tabulate'
/var/lib/gems/2.3.0/gems/sass-3.4.22/lib/sass/engine.rb:409:in `_to_tree'
/var/lib/gems/2.3.0/gems/sass-3.4.22/lib/sass/engine.rb:381:in `_render_with_sourcemap'
/var/lib/gems/2.3.0/gems/sass-3.4.22/lib/sass/engine.rb:298:in `render_with_sourcemap'
/var/lib/gems/2.3.0/gems/sass-3.4.22/lib/sass/exec/sass_scss.rb:391:in `run'
/var/lib/gems/2.3.0/gems/sass-3.4.22/lib/sass/exec/sass_scss.rb:63:in `process_result'
/var/lib/gems/2.3.0/gems/sass-3.4.22/lib/sass/exec/base.rb:52:in `parse'
/var/lib/gems/2.3.0/gems/sass-3.4.22/lib/sass/exec/base.rb:19:in `parse!'
/var/lib/gems/2.3.0/gems/sass-3.4.22/bin/sass:13:in `<top (required)>'
/usr/local/bin/sass:23:in `load'
/usr/local/bin/sass:23:in `<main>'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Error: Inconsistent indentation: 2 spaces were used for indentation, but the rest of the document was indented using 4 spaces.\A         on line 343 of /home/durand/Stuff/Data_Science/women-in-parliament/mps_over_time.js\A \A 338:         .attr(\"class\", \"x-label\")\A 339:         .text(\"Time\")\A 340: \A 341:     wrapper.append(\"text\")\A 342:     .attr(\"transform\", \"rotate(-90)\")\A 343:   .attr(\"y\", 0 - margin.left/2)\A 344:   .attr(\"x\",0 - (height / 2))\A 345:         .attr(\"class\", \"y-label\")\A 346:         .text(\"Number of MPs\")\A 347: \A 348:     // Add zoom capabilities for the points"; }
