@import url("//fonts.googleapis.com/css?family=Quicksand:400,500");
body { background-color: #131313; font-family: 'Quicksand', sans-serif; font-size: .5em; font-weight: 400; }

.tracker { position: relative; z-index: 2; height: 60px; width: 150px; display: flex; justify-content: center; align-items: center; }
.tracker svg { width: 60px; margin: auto; }
.tracker .nav-prev { margin: auto; }
.tracker .nav-next { margin: auto; }
.tracker .tracker-hexagon { stroke: #a1c181; stroke-width: 8px; fill: none; }
.tracker .arc.c-1 { fill: #5c5c5c; }
.tracker .arc.c-2 { fill: #424242; }
.tracker .arc.active { fill: #a1c181; }
.tracker .arc.active text { fill: #5c5c5c; }
.tracker .arc.hover { fill: #e5e5e5; }
.tracker .arc.hover text { fill: #5c5c5c; }
.tracker text { cursor: default; user-select: none; fill: #a1c181; text-anchor: middle; alignment-baseline: middle; font-weight: bold; font-size: 1.5em; }

.nav-next, .nav-prev { box-shadow: inset 0 34px 0 -15px #c61148; background-color: #d4124d; border: 1px solid #390515; display: inline-block; cursor: pointer; color: white; font-size: .8rem; font-weight: bold; padding: 5px; text-decoration: none; text-shadow: 1px 1px 1px gray; }

.nav-next:hover, .nav-prev:hover { background-color: #f04d7f; }

.nav-next:active, .nav-prev:active { position: relative; top: 1px; }

.x-axis line, .x-axis path, .y-axis line, .y-axis path { stroke: #dadada; stroke-width: .5; }

.x-axis text, .y-axis text, .x-label, .y-label { fill: #dadada; font-family: 'Quicksand', sans-serif; font-size: 1rem; font-weight: 500; }

.x-label, .y-label { text-anchor: middle; font-size: 1.1rem; font-weight: 500; }

.x-label { alignment-baseline: hanging; }

@media only screen and (-webkit-min-device-pixel-ratio: 1.3), only screen and (-o-min-device-pixel-ratio: 13 / 10), only screen and (min-resolution: 120dpi) { .x-axis text, .y-axis text, .x-label text, .x-label text { font-size: 1rem; } }
@media screen and (max-width: 500px) { .x-axis text, .y-axis text, .x-label text, .x-label text { font-size: .8rem; } }
.d3-graph { background-color: #252525; border-radius: 1px; bottom: 0; left: 0; margin: 10px; position: fixed; right: 0; top: 0; }

.info-bubble { fill: #0096db; stroke: #42c3ff; transition: fill .5s stroke .5s ease-in-out; }
.info-bubble.hover { fill: #a8e4ff; stroke: white; }

.election-rect { opacity: .15; }
.election-rect.c-1 { fill: #5c5c5c; }
.election-rect.c-2 { fill: #424242; }
.election-rect.hover { opacity: .2; fill: #e5e5e5; }

#tooltip { background-color: rgba(19, 19, 19, 0.8); color: #ececec; border: solid 1px #131313; border-radius: 5px; box-shadow: 1px 1px 5px rgba(19, 19, 19, 0.8); font-size: 1rem; font-weight: 500; height: 10rem; width: 20rem; line-height: 1; overflow: hidden; padding: 1em; pointer-events: none; position: absolute; left: 20%; top: 10%; }
#tooltip .slide2-tooltip { font-size: 1rem; font-weight: 200; text-align: center; vertical-align: middle; }
#tooltip .slide2-tooltip span { font-weight: bold; }
#tooltip .slide2-tooltip .female { color: #e5e5e5; }
#tooltip .slide2-tooltip .male { color: #c61148; }
#tooltip .slide2-tooltip .gender-ratio { font-size: 5rem; }
#tooltip .slide2-tooltip h1 { background-color: #a1c181; }
#tooltip .info-bubble-tip { font-size: .8rem; font-weight: 200; }
#tooltip .info-bubble-tip h1 { background-color: #0096db; }
#tooltip .info-bubble-tip .date { font-weight: bold; }
#tooltip .info-bubble-tip .body { margin-top: .8em; }
#tooltip h1 { display: block; font-size: 1rem; font-weight: bold; margin-top: 0; padding: .5rem; text-align: center; text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5); }
#tooltip .mp-party, #tooltip .mp-party-logo { width: 4rem; height: 4rem; display: flex; justify-content: center; align-items: center; position: absolute; right: 1rem; bottom: 1rem; font-size: 2rem; font-weight: bolder; word-break: break-all; }
#tooltip .mp-party { background-color: #50514f; }
#tooltip .mp-image { width: 2rem; height: 2rem; }
#tooltip .mp-image-blurred { width: 5rem; height: 5rem; filter: blur(5px); transform: scale(0.95, 0.95); }

@media screen and (min-height: 500px) { .mp-party, svg { bottom: 1.5em; right: 1.5em; } }
.chart-title { fill: #dadada; font-family: 'Quicksand', sans-serif; font-size: 1rem; font-weight: 500; }

@media only screen and (-webkit-min-device-pixel-ratio: 1.3), only screen and (-o-min-device-pixel-ratio: 13 / 10), only screen and (min-resolution: 120dpi) { .chart-title { font-size: 1.5rem; } }
@media screen and (max-width: 500px) { .chart-title { font-size: 1rem; } }
.total-women-mps-path, .half-max-mps-path, .max-mps-path { stroke-linejoin: round; stroke-linecap: round; fill: none; }

.max-mps-path, .total-women-mps-path { stroke: #e5e5e5; }

.half-max-mps-path { stroke-dasharray: 5,10; stroke: #e5e5e5; }

.total-women-mps-area { fill: #e5e5e5; }

.max-mps-area { fill: #c61148; }

.men-label, .women-label, .i5050-label { font-weight: 500; text-anchor: middle; }

.women-label { alignment-baseline: ideographic; fill: #c61148; }

.men-label { fill: #e5e5e5; }

.i5050-label { alignment-baseline: ideographic; text-anchor: end; fill: #e5e5e5; }

/*# sourceMappingURL=style.css.map */
