$colors: (
  Lab: #c61148,
  Con: #0096db,
  SNP: #fcca46,
  LibDem: #f37a48,
  LD: #f37a48,
  Green: #a1c181,
  SF: #008e4b,
  Other: #50514f, // Used as fallback when no party colour has been defined
  Hover: #e5e5e5, // Used when hovering over an item
  Active: #a1c181 // Used for the active slide on the tracker
);
$tracker-colors: #5c5c5c, #424242;
$body-background: #131313;
$graph-background: #252525;
$tip-background: $body-background;
$female: map-get($colors, Hover);
$male: map-get($colors, Lab);
$slide2-header-color: map-get($colors, Green);
$info-bubble-header-color: map-get($colors, Con);

body {
  background-color: $body-background;
  color: invert($body-background);
  font-family: 'Quicksand', sans-serif;
  font-size: 1em;
  font-weight: 400;
}

#header {
  margin: 5rem;
  margin-left: auto;
  margin-right: auto;
  max-width: 50rem;

  h1 {
    margin-bottom: 0.5rem;
    text-align: center;
    font-size: 5rem;
    font-weight: bold;
  }
  h2 {
    margin-top: 0.5rem;
    text-align: center;
    font-size: 1.5rem;
    font-weight: lighter;
  }

  p {
    margin: 3rem;
  }
}

#scroll {
  position: relative;
}

.scroll__graphic {
  position: sticky;
  top: -1px;
  left: 0;
  bottom: auto;
  width: 100%;
  transform: translate3d(0, 0, 0);

  // &.is-fixed {
  //   position: fixed;
  // }
  //
  // &.is-bottom {
  //   bottom: 0;
  //   top: auto;
  // }

  .chart {
    height: 95vh;
    position: absolute;
    right: 1rem;
    // top: 50%;
    // transform: translateY(-50%);
  }
}

.scroll__text {
  // padding: 5rem;
  padding-top: 70vh;
  max-width: 30rem;
}

.step {
  opacity: 1;
  transform: translateZ(0);
  position: relative;
  z-index: 99;
  background-color: rgba($tip-background, .8);
  color: invert($tip-background);
  border: solid 1px $tip-background;
  border-radius: 5px;
  box-shadow: 1px 1px 5px rgba($tip-background, .8);
  font-size: 1rem;
  font-weight: 500;
  height: 10rem;
  width: 20rem;
  line-height: 1;
  padding: 2rem;
  margin-bottom: 100vh;
  transition: opacity 1s ease-in-out;

  &.is-active {
    opacity: 1;
  }
}

.tracker {
  transform: translateZ(0);
  position: fixed;
  top: 20px;
  z-index: 2;
  height: 60px;
  width: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: .5em;

  svg {
    width: 60px;
    margin: auto;
  }

  .nav-prev {
    margin: auto;
  }

  .nav-next {
    margin: auto;
  }

  .tracker-hexagon {
    stroke: map-get($colors, Active);
    stroke-width: 8px;
    fill: none;
  }

  .arc {
    @each $item in $tracker-colors {
      &.c-#{index($tracker-colors, $item)} {
        fill: $item;
      }
    }

    &.active {
      fill: map-get($colors, Active);

      text {
        fill: nth($tracker-colors, 1);
      }
    }

    &.hover {
      fill: map-get($colors, Hover);

      text {
        fill: nth($tracker-colors, 1);
      }
    }
  }

  text {
    cursor: default;
    user-select: none;
    fill: map-get($colors, Green);
    text-anchor: middle;
    alignment-baseline: middle;
    font-weight: bold;
    font-size: 1.5em;
  }
}
$nav-button-bg: map-get($colors, Lab);
$nav-button-fg: lighten(map-get($colors, Hover), 50);

.nav-next,
.nav-prev {
  box-shadow: inset 0 34px 0 -15px $nav-button-bg;
  background-color: lighten($nav-button-bg, 3);
  border: 1px solid darken($nav-button-bg, 30);
  display: inline-block;
  cursor: pointer;
  color: $nav-button-fg;
  font-size: .8rem;
  font-weight: bold;
  padding: 5px;
  text-decoration: none;
  text-shadow: 1px 1px 1px darken($nav-button-fg, 50);
}

.nav-next:hover,
.nav-prev:hover {
  background-color: lighten($nav-button-bg, 20);
}

.nav-next:active,
.nav-prev:active {
  position: relative;
  top: 1px;
}

.x-axis line,
.x-axis path,
.y-axis line,
.y-axis path {
  // stroke-opacity: 0;
  stroke: invert($graph-background);
  stroke-width: .5;
}

.x-axis text,
.x-label,
.y-axis text,
.y-label {
  pointer-events: none;
  fill: invert($graph-background);
  font-family: 'Quicksand', sans-serif;
  font-size: 1rem;
  font-weight: 500;
  transition: opacity 1s ease-in-out;
}

.x-custom-axis {
  transition: opacity 1s ease-in-out;
}

.x-axis,
.y-axis {
  transition: opacity 1s ease-in-out;
}

.x-label,
.y-label {
  text-anchor: middle;
  font-size: 1.1rem;
  font-weight: 500;
  transition: opacity 1s ease-in-out;
}

.x-label {
  alignment-baseline: hanging;
}
@media only screen and (-webkit-min-device-pixel-ratio: 1.3), only screen and (-o-min-device-pixel-ratio: 13 / 10), only screen and (min-resolution: 120dpi) {
  .x-axis text,
  .x-label text,
  .x-label text,
  .y-axis text {
    font-size: 1rem;
  }
}
@media screen and (max-width: 500px) {
  .x-axis text,
  .x-label text,
  .x-label text,
  .y-axis text {
    font-size: .8rem;
  }
}

#timeline {
  background-color: $graph-background;
  border-radius: 1px;
  // bottom: 0;
  left: 0;
  margin: 10px;
  // position: absolute;
  // height: 100%;
  right: 0;
  // top: 0;
  canvas,
  svg {
    transform: translateZ(0);
  }
}

#hidden-canvas,
#visible-canvas {
  // top: 0;
  vertical-align: top;
  left: 0;
  position: absolute;
  transition: opacity 1s ease-in-out;
}

#hidden-canvas {
  display: none;
  pointer-events: none;
}

.info-bubble {
  fill: $info-bubble-header-color;
  stroke: lighten($info-bubble-header-color, 20);
  transition: fill .5s stroke .5s ease-in-out;

  &.hover {
    fill: lighten($info-bubble-header-color, 40);
    stroke: lighten($info-bubble-header-color, 60);
  }
}

.election-rect {
  opacity: .15;
  @each $item in $tracker-colors {
    &.c-#{index($tracker-colors, $item)} {
      fill: $item;
    }
  }

  &.hover {
    opacity: .2;
    fill: map-get($colors, Hover);
  }
}

.women-in-govt-path {
  &.hover {
    stroke-width: 10;
  }
}

.female-median,
.female-node {
  fill: $female;
}

.male-median,
.male-node {
  fill: $male;
}

.female-median:hover,
.female-node:hover,
.male-median:hover,
.male-node:hover {
  fill: map-get($colors, Hover);
}

.median-connector {
  stroke: #fff;
}

.hover-rect {
  opacity: 0;
}
$tip-padding: 1;

#slide4,
#tooltip {
  z-index: 99;
  opacity: 1;
  background-color: rgba($tip-background, .8);
  color: invert($tip-background);
  border: solid 1px $tip-background;
  border-radius: 5px;
  box-shadow: 1px 1px 5px rgba($tip-background, .8);
  font-size: 1rem;
  font-weight: 500;
  height: 10rem;
  width: 20rem;
  line-height: 1;
  overflow: hidden;
  padding: $tip-padding + rem;
  pointer-events: none;
  position: absolute;
  left: 20%;
  top: 10%;

  .slide2-tooltip,
  .slide3-tooltip,
  .slide4-tooltip {
    font-size: 1rem;
    font-weight: 200;
    text-align: center;
    vertical-align: middle;

    span {
      font-weight: bold;
    }

    .female {
      color: $female;
    }

    .male {
      color: $male;
    }

    .gender-ratio {
      font-size: 5rem;
    }

    h1 {
      background-color: $slide2-header-color;
    }
  }

  .info-bubble-tip {
    font-size: .8rem;
    font-weight: 200;

    h1 {
      background-color: $info-bubble-header-color;
    }

    .date {
      font-weight: bold;
    }

    .body {
      margin-top: .8em;
    }
  }

  h1 {
    display: block;
    font-size: 1rem;
    font-weight: bold;
    margin-top: 0;
    padding: .5rem;
    text-align: center;
    text-shadow: 1px 1px 1px rgba(black, .5);
  }
  // This is for parties that don't have a logo
  .mp-party,
  .mp-party-logo {
    width: 4rem;
    height: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    right: $tip-padding + rem;
    bottom: $tip-padding + rem;
    font-size: 2rem;
    font-weight: bolder;
    word-break: break-all;
  }

  .mp-constituency {
    width: 80%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .mp-party {
    background-color: map-get($colors, Other);
  }

  .mp-image-parent {
    width: 5rem;
    height: 5rem;
    // border: 0.5px solid white;
    overflow: hidden;
    flex: 0 0 5rem;
  }

  .mp-image {
    width: 100%;
    height: 100%;
    transform: translate(0, -5rem);
    // opacity: 0;
    transition: opacity .5s linear;
  }

  .mp-image-blurred {
    width: 100%;
    height: 100%;
    filter: blur(4px);
  }

  .body-container {
    display: flex;
  }

  .body {
    margin: 0;
    width: 99%;
    padding: 1rem;
  }

  .slide4-tooltip {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    animation: fadein 1s;
    pointer-events: auto;
    @keyframes fadein {
      from {
        opacity: 0;
      }

      to {
        opacity: 1;
      }
    }
    $speech-flex-row-height: 5;

    .speech-flex-row {
      display: flex;
      align-items: flex-start;
      flex: 0 0 $speech-flex-row-height + rem;
      padding-bottom: 2rem;

      button {
        margin-top: auto;
        margin-bottom: auto;
        width: $speech-flex-row-height + rem;
        height: $speech-flex-row-height + rem;
      }
    }

    .mp-image-parent {
      margin-top: auto;
      margin-bottom: auto;
      flex: 0 0 $speech-flex-row-height + rem;
    }

    .mp-name-debate {
      flex-grow: 1;
      margin-top: auto;
      margin-bottom: auto;
    }

    .mp-name {
      margin: auto;
      font-weight: lighter;
      font-size: 2rem;
      padding: .5rem;
    }

    .blockquote {
      margin-left: 20px;
      padding-left: $tip-padding * 1.5 + rem;
      text-align: left;
      flex-grow: 1;
      overflow: auto;
      margin: auto;
      font-family: "Open Sans script=all rev=2", sans-serif;
      font-weight: 300;
      font-style: italic;
      font-size: 1rem;
      line-height: 1.5rem;
      pointer-events: all;

      &::before {
        // top: 0;
        left: $tip-padding + rem;
        color: #fff;
        content: '“';
        font-size: 4em;
        position: absolute;
        // text-shadow: -3px 0 #c2c2c2;
      }
      // &::after {
      //   right: 16px;
      //   color: #fff;
      //   content: '”';
      //   bottom: -32px;
      //   font-size: 4em;
      //   position: absolute;
      //   // text-shadow: 3px 0 #c2c2c2;
      // }
    }

    .end-quote {
      color: #fff;
      font-size: 4em;
      margin-right: 0;
    }

    .speech-debate {
      font-size: .7rem;
      font-weight: 400;
      padding: .5rem;
    }
  }
}

#slide4-speech-topic-bar {
  padding-top: $tip-padding + rem;
  flex: 0 0 2rem;
  margin: auto auto 0;
}

.rect-label {
  text-transform: uppercase;
  font-size: 1rem;
  font-weight: 200;
  text-shadow: 1px 1px 1px rgba(black, .5);
  pointer-events: none;
}

#tooltip {
  position: fixed;
  left: 0;
  top: 0;
  opacity: 0;
  transform: translate(20vh, 25vh) translateZ(0);
  transition: transform .1s ease-in-out;
}

#slide4 {
  width: 80%;
  height: 80%;
  top: 10%;
  left: 10%;
  position: fixed;
  opacity: 0;
  transition: opacity 1s ease-in-out;
}

.slide5-dropdown {
  background-color: rgba(0, 0, 0, 0) !important;
  transform: translateZ(0);
  font-size: 1rem;
  font-weight: 200;
  text-transform: uppercase;
  color: white !important;
  border-color: white !important;
  min-height: 0 !important;
  position: fixed !important;
  z-index: 50;

  & > .text:not(.default) {
    font-weight: 200 !important;
    color: white !important;
  }
}

#slide6-group {
  transition: opacity 1s ease-in-out;
}
@media screen and (min-height: 500px) {
  #timeline > svg,
  .mp-party {
    bottom: 1.5 * $tip-padding + em;
    right: 1.5 * $tip-padding + em;
  }
}

.chart-title {
  fill: invert($graph-background);
  font-family: 'Quicksand', sans-serif;
  font-size: 1rem;
  font-weight: 500;
}
@media only screen and (-webkit-min-device-pixel-ratio: 1.3), only screen and (-o-min-device-pixel-ratio: 13 / 10), only screen and (min-resolution: 120dpi) {
  .chart-title {
    font-size: 1.5rem;
  }
}
@media screen and (max-width: 500px) {
  .chart-title {
    font-size: 1rem;
  }
}

.half-max-mps-path,
.max-mps-path,
.total-women-mps-path {
  stroke-linejoin: round;
  stroke-linecap: round;
  fill: none;
}

.max-mps-path {
  stroke: $female;
}

.total-women-mps-path {
  stroke: $female;
  opacity: 0;
  stroke-dasharray: 0;
}

.half-max-mps-path {
  stroke-dasharray: 5,10;
  stroke: $female;
}

.total-women-mps-area {
  fill: $female;
}

.max-mps-area {
  fill: $male;
}

.i5050-label,
.men-label,
.women-label {
  font-weight: 500;
  text-anchor: middle;
}

.women-label {
  alignment-baseline: ideographic;
  fill: $male;
}

.men-label {
  fill: $female;
}

.i5050-label {
  alignment-baseline: ideographic;
  text-anchor: middle;
  fill: $female;
}

.women-pct-track {
  stroke: steelblue;
}
