$colors: (
  Lab: #c61148,
  Con: #0096db,
  SNP: #fcca46,
  LibDem: #f37a48,
  LD: #f37a48,
  Green: #a1c181,
  SF: #008e4b,
  Other: #50514f, // Used as fallback when no party colour has been defined
  Hover: #e5e5e5, // Used when hovering over an item
  Active: #a1c181 // Used for the active slide on the tracker
);
$tracker-colors: #5c5c5c, #424242;
$body-background: #131313;
$graph-background: #252525;
$tip-background: $body-background;
$female: map-get($colors, Hover);
$male: map-get($colors, Lab);
$slide2-header-color: map-get($colors, Green);
$info-bubble-header-color: map-get($colors, Con);
$tablet-width: 768px;
$desktop-width: 1024px;
@mixin phone {
  @media (max-width: #{$tablet-width - 1px}) {
    @content;
  }
}
@mixin tablet {
  @media (min-width: #{$tablet-width}) and (max-width: #{$desktop-width - 1px}) {
    @content;
  }
}
@mixin desktop {
  @media (min-width: #{$desktop-width}) {
    @content;
  }
}
@mixin hidpi {
  @media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2/1), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
    @content;
  }
}

body {
  background-color: $body-background;
  color: invert($body-background);
  font-family: 'Quicksand', sans-serif;
  font-size: 1em;
  font-weight: 400;
  line-height: 2;
  margin: auto 0;
}

#header {
  margin: 5rem auto;
  max-width: 50rem;
  @include phone {
    margin: 1.5rem;
  }

  h1 {
    margin: .5rem auto;
    text-align: center;
    font-size: 5rem;
    font-weight: bold;
    line-height: 1.5;
    @include phone {
      font-size: 3rem;
    }
  }

  h2 {
    margin: .5rem auto;
    text-align: center;
    font-size: 1.5rem;
    font-weight: lighter;
    @include phone {
      font-size: 1.2rem;
    }
  }

  h3 {
    margin-top: .5rem;
    text-align: center;
    font-size: 1rem;
    font-weight: lighter;
  }

  p {
    margin: 3rem;
    @include phone {
      margin: 2rem 1rem;
    }
  }
}

#footer {
  margin: 5rem auto;
  max-width: 50rem;
  @include phone {
    margin: 3rem 2rem;
  }

  @include tablet {
    margin: 5rem 2rem;
  }
}

#scroll {
  position: relative;
}

.scroll__graphic {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  left: 0;
  bottom: auto;
  width: 100%;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  background-color: $graph-background;
}

.chart {
  // height: 95vh;
  position: absolute;
  right: 1rem;
  // top: 50%;
  // transform: translateY(-50%);
}

.scroll__text {
  // padding: 5rem;
  // padding-top: 30vh;
  pointer-events: none;
  position: relative;
  padding-left: 120px;
  max-width: 30rem;

    @include phone {
      padding-left: 30px;
    }
}

.step {
  opacity: 1;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  position: relative !important;
  z-index: 99;
  background-color: rgba($tip-background, .8);
  color: invert($tip-background);
  border: solid 1px $tip-background;
  border-radius: 5px;
  -webkit-box-shadow: 1px 1px 5px rgba($tip-background, .8);
  box-shadow: 1px 1px 5px rgba($tip-background, .8);
  font-size: 1rem;
  font-weight: 500;
  // height: 33vh !important;
  // height: unset !important;
  width: 50vw !important;
  max-width: 35rem !important;
  line-height: 1.5 !important;
  padding: 1rem !important;
  // margin-top: 50vh;
  // margin-bottom: 50vh;
  margin-top: 2rem;
  margin-bottom: 2rem;
  -webkit-transition: opacity 1s ease-in-out;
  transition: opacity 1s ease-in-out;
  left: unset !important;
  pointer-events: all !important;

    @include phone {
      width: 75vw !important;
      font-size: 0.9rem;
      font-weight: 500;
    }

    @include tablet {
      width: 75vw !important;
    }

  .mp-party-logo {
    padding-bottom: .5rem;
    width: 5rem !important;
    height: 5rem !important;
    right: unset !important;
  }

  &.is-active {
    opacity: 1;
  }

  .body {
    padding: 0 !important;
    display: grid;
    grid-template-columns: 5.5rem auto;
    grid-template-areas: "photo facts" "photo text";
    @include phone {
      grid-template-areas: "photo facts" "text text";
    }
  }

  .mp-image-parent {
    grid-area: photo;
  }

  .body-container {
    @include phone {
      display: unset !important;
    }
  }
  .body-facts {
    grid-area: facts;
    align-self: center;
  }
  .body-text {
    grid-area: text;
  }

  .mp-constituency::before {
    @include phone {
      content: "CONST." !important;
    }
  }

  .mp-party-logo {
    grid-area: photo;
    @include phone {
      opacity: 0 !important;
    }

  }
}

a {
  color: crimson;
  text-decoration: none;
}

.tracker {
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  position: fixed;
  top: 20px;
  z-index: 2;
  height: 60px;
  width: 150px;
  display: none;
  // display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  font-size: .5em;

  svg {
    width: 60px;
    margin: auto;
  }

  .nav-prev {
    margin: auto;
  }

  .nav-next {
    margin: auto;
  }

  .tracker-hexagon {
    stroke: map-get($colors, Active);
    stroke-width: 8px;
    fill: none;
  }

  .arc {
    @each $item in $tracker-colors {
      &.c-#{index($tracker-colors, $item)} {
        fill: $item;
      }
    }

    &.active {
      fill: map-get($colors, Active);

      text {
        fill: nth($tracker-colors, 1);
      }
    }

    &.hover {
      fill: map-get($colors, Hover);

      text {
        fill: nth($tracker-colors, 1);
      }
    }
  }

  text {
    cursor: default;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    fill: map-get($colors, Green);
    text-anchor: middle;
    alignment-baseline: middle;
    font-weight: bold;
    font-size: 1.5em;
  }
}
$nav-button-bg: map-get($colors, Lab);
$nav-button-fg: lighten(map-get($colors, Hover), 50);

.nav-next,
.nav-prev {
  -webkit-box-shadow: inset 0 34px 0 -15px $nav-button-bg;
  box-shadow: inset 0 34px 0 -15px $nav-button-bg;
  background-color: lighten($nav-button-bg, 3);
  border: 1px solid darken($nav-button-bg, 30);
  display: inline-block;
  cursor: pointer;
  color: $nav-button-fg;
  font-size: .8rem;
  font-weight: bold;
  padding: 5px;
  text-decoration: none;
  text-shadow: 1px 1px 1px darken($nav-button-fg, 50);
}

.nav-next:hover,
.nav-prev:hover {
  background-color: lighten($nav-button-bg, 20);
}

.nav-next:active,
.nav-prev:active {
  position: relative;
  top: 1px;
}

.x-axis line,
.x-axis path,
.y-axis line,
.y-axis path {
  // stroke-opacity: 0;
  stroke: invert($graph-background);
  stroke-width: .5;
}

.x-axis text,
.x-label,
.y-axis text,
.y-label {
  pointer-events: none;
  fill: invert($graph-background);
  font-family: 'Quicksand', sans-serif;
  font-size: 1rem;
  font-weight: 500;
  -webkit-transition: opacity 1s ease-in-out;
  transition: opacity 1s ease-in-out;

  @include phone {
    font-size: 0.5rem;
  }
}

.x-custom-axis {
  -webkit-transition: opacity 1s ease-in-out;
  transition: opacity 1s ease-in-out;
}

.x-custom-label {
  -webkit-transition: opacity 1s ease-in-out;
  transition: opacity 1s ease-in-out;
  @include phone {
    font-size: 0.5rem;
  }
}

.x-axis,
.y-axis {
  -webkit-transition: opacity 1s ease-in-out;
  transition: opacity 1s ease-in-out;
}

.x-label,
.y-label {
  text-anchor: middle;
  font-size: 1rem;
  font-weight: 500;
  -webkit-transition: opacity 1s ease-in-out;
  transition: opacity 1s ease-in-out;

  @include phone {
    font-size: 0.8rem;
  }
}

.x-label {
  alignment-baseline: hanging;
}

#timeline {
  border-radius: 1px;
  // bottom: 0;
  left: 0;
  // margin: 10px;
  // position: absolute;
  height: 95vh;
  right: 0;
  // top: 0;
  canvas,
  svg {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
  }
}

#mouseover-svg {
  top: 0;
  left: 0;
  pointer-events: none;
  position: absolute;
  opacity: 1;
  -webkit-transition: opacity .5s ease-in-out;
  transition: opacity .5s ease-in-out;

  line {
    opacity: 0;
    stroke-linejoin: round;
    stroke-linecap: round;
    stroke: map-get($colors, Hover);
  }

  circle {
    opacity: 0;
    fill: none;
    stroke: map-get($colors, Hover);
  }
}

#hidden-canvas,
#visible-canvas {
  top: 0;
  vertical-align: top;
  left: 0;
  position: absolute;
  -webkit-transition: opacity .5s ease-in-out;
  transition: opacity .5s ease-in-out;
}

#hidden-canvas {
  display: none;
  pointer-events: none;
}

.info-bubble {
  fill: $info-bubble-header-color;
  stroke: lighten($info-bubble-header-color, 20);
  -webkit-transition: fill .5s stroke .5s ease-in-out;
  transition: fill .5s stroke .5s ease-in-out;

  &.hover {
    fill: lighten($info-bubble-header-color, 40);
    stroke: lighten($info-bubble-header-color, 60);
  }
}

.election-rect {
  opacity: .15;
  @each $item in $tracker-colors {
    &.c-#{index($tracker-colors, $item)} {
      fill: $item;
    }
  }

  &.hover {
    opacity: .2;
    fill: map-get($colors, Hover);
  }
}

.women-in-govt-path {
  &.hover {
    stroke-width: 10;
  }
}

.female-median,
.female-node {
  fill: $female;
}

.male-median,
.male-node {
  fill: $male;
}

.female-median:hover,
.female-node:hover,
.male-median:hover,
.male-node:hover {
  fill: map-get($colors, Hover);
}

.median-connector {
  stroke: #fff;
}

.hover-rect {
  opacity: 0;
}
$tip-padding: .5;

#slide4,
.tooltip {
  z-index: 99;
  opacity: 1;
  background-color: rgba($tip-background, .8);
  color: invert($tip-background);
  border: solid 1px $tip-background;
  border-radius: 5px;
  -webkit-box-shadow: 1px 1px 5px rgba($tip-background, .8);
  box-shadow: 1px 1px 5px rgba($tip-background, .8);
  font-size: 1rem;
  font-weight: 500;
  // height: 20vh;
  width: 40vw;
  max-width: 35rem;
  line-height: 1.5;
  overflow: hidden;
  padding: $tip-padding + rem;
  pointer-events: none;
  position: absolute;
  left: 20%;
  top: 10%;

    @include phone {
      width: 75vw !important;
      font-size: 0.9rem;
    }

  .slide2-tooltip,
  .slide3-tooltip,
  .slide4-tooltip {
    font-size: 1rem;
    font-weight: 200;
    text-align: center;
    vertical-align: middle;

    p {
      font-weight: 500;
      font-size: 2rem;
      margin: 0;
    }

    span {
      font-weight: bold;
    }

    .female {
      color: $female;
    }

    .male {
      color: $male;
    }

    .gender-ratio {
      font-size: 5rem;
    }

    h1 {
      background-color: $slide2-header-color;
    }
  }

  .info-bubble-tip {
    font-size: .8rem;
    font-weight: 200;

    h1 {
      background-color: $info-bubble-header-color;
    }

    .date {
      font-weight: bold;
    }

    .body {
      margin-top: .8em;
    }
  }

  h1 {
    display: block;
    font-size: 1rem;
    font-weight: bold;
    margin-top: 0;
    margin-bottom: $tip-padding + rem;
    padding: .5rem;
    text-align: center;
    text-shadow: 1px 1px 1px rgba(black, .5);

    @include phone {
      font-size: 0.8rem;
    }
  }

  hr {
    width: 50%;
    margin-top: $tip-padding + rem;
    margin-bottom: $tip-padding + rem;
    border: 0;
    height: 1px;
    background: invert($tip-background);
  }
  // This is for parties that don't have a logo
  .mp-party,
  .mp-party-logo {
    width: 4rem;
    height: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    right: $tip-padding + rem;
    bottom: $tip-padding + rem;
    font-size: 2rem;
    font-weight: bolder;
    word-break: break-all;
  }

  .mp-term {
    overflow: hidden;
    margin-bottom: .5rem;

    &::before {
      content: 'TERM';
      font-weight: bolder;
      font-size: .8rem;
      margin-right: .5rem;
      padding: 2px;
      background-color: invert($tip-background);
      color: $tip-background;
    }
  }

  .mp-constituency {
    width: 80%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

    &::before {
      content: 'CONSTITUENCY';
      font-weight: bolder;
      font-size: .8rem;
      margin-right: .5rem;
      padding: 2px;
      background-color: invert($tip-background);
      color: $tip-background;
    }
  }

  .mp-party {
    background-color: map-get($colors, Other);
  }

  .mp-image-parent {
    width: 5rem;
    height: 5rem;
    // border: 0.5px solid white;
    overflow: hidden;
    flex: 0 0 5rem;
    position: relative;
  }

  .mp-image {
    width: 100%;
    height: 100%;
    // transform: translate(0, -5rem);
    // opacity: 0;
    transition: opacity .5s linear;
    position: absolute;
    top: 0;
  }

  .mp-image-blurred {
    width: 100%;
    height: 100%;
    filter: blur(4px);
    position: absolute;
  }

  .body-container {
    display: flex;
  }

  .body {
    margin: 0;
    width: 99%;
    padding-top: 0;
    padding: 0.5 + rem;
    z-index: 5;
  }

  .slide4-tooltip {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    animation: fadein 1s;
    pointer-events: auto;
    @keyframes fadein {
      from {
        opacity: 0;
      }

      to {
        opacity: 1;
      }
    }
    $speech-flex-row-height: 5;

    p {
      font-size: 1rem;
      line-height: 1.5;

        @include phone {
          font-size: 0.7rem;
          line-height: 1.3;
        }
    }

    .speech-flex-row {
      display: flex;
      align-items: flex-start;
      flex: 0 0 $speech-flex-row-height + rem;
      padding-bottom: 2rem;

      button {
        margin-top: auto;
        margin-bottom: auto;
        width: $speech-flex-row-height + rem;
        height: $speech-flex-row-height + rem;
      }
    }

    .mp-image-parent {
      margin-top: auto;
      margin-bottom: auto;
      flex: 0 0 $speech-flex-row-height + rem;
    }

    .mp-name-debate {
      flex-grow: 1;
      margin-top: auto;
      margin-bottom: auto;
    }

    .mp-name {
      margin: auto;
      font-weight: lighter;
      font-size: 2rem;
      padding: .5rem;

      @include phone {
          font-size: 1.5rem;
          padding: unset;
        }
    }

    .blockquote {
      margin-left: 20px;
      padding-left: $tip-padding * 1.5 + rem;
      text-align: left;
      // flex-grow: 1;
      overflow: auto;
      margin: auto;
      font-family: 'Lato', sans-serif;
      font-weight: 300;
      // font-style: italic;
      font-size: 1rem;
      line-height: 1.5;
      pointer-events: all;

      &::before {
        // top: 0;
        // left: $tip-padding + rem;
        font-family: Arial, sans-serif;
        transform: translate(-20px, -40px);
        color: #fff;
        content: '“';
        font-size: 4em;
        position: absolute;
        // text-shadow: -3px 0 #c2c2c2;

      }
      @include phone {
        font-size: 0.7rem;
        line-height: 1.3;
      }
      // &::after {
      //   right: 16px;
      //   color: #fff;
      //   content: '”';
      //   bottom: -32px;
      //   font-size: 4em;
      //   position: absolute;
      //   // text-shadow: 3px 0 #c2c2c2;
      // }
    }

    .end-quote {
      color: #fff;
      font-size: 4em;
      margin-right: 0;
    }

    .speech-debate {
      font-size: .7rem;
      font-weight: 400;
      padding: .5rem;

      @include phone {
        display: none;
      }
    }
  }
}

#slide4-speech-topic-bar {
  padding-top: $tip-padding + rem;
  flex: 0 0 2rem;
  margin: auto auto 0;
}

.rect-label {
  text-transform: uppercase;
  font-size: 1rem;
  font-weight: 200;
  text-shadow: 1px 1px 1px rgba(black, .5);
  pointer-events: none;
}

#tooltip {
  position: fixed;
  left: 0;
  top: 0;
  opacity: 0;
  // transform: translate(20vh, 25vh) translateZ(0);
  transition: transform .1s ease-in-out;
}

#slide4 {
  width: 80%;
  max-width: unset;
  height: 80%;
  top: 10%;
  left: 10%;
  position: fixed;
  opacity: 0;
  transition: opacity .5s ease-in-out;

        @include phone {
          width: 85% !important;
          height: 90%;
          top: 5%;
          left: 5%;
        }
}

.slide5-dropdown {
  background-color: rgba(0, 0, 0, 0) !important;
  transform: translateZ(0);
  font-size: 1rem;
  font-weight: 200;
  text-transform: uppercase;
  color: white !important;
  border-color: white !important;
  min-height: 0 !important;
  position: fixed !important;
  z-index: 50;
  transition: opacity 1s ease-in-out;

  & > .text:not(.default) {
    font-weight: 200 !important;
    color: white !important;
  }
}

#slide6-group {
  transition: opacity 1s ease-in-out;
}

.chart-title {
  fill: invert($graph-background);
  font-family: 'Quicksand', sans-serif;
  font-size: 1rem;
  font-weight: 500;
}

.half-max-mps-path,
.max-mps-path,
.total-women-mps-path {
  stroke-linejoin: round;
  stroke-linecap: round;
  fill: none;
}

.max-mps-path {
  stroke: $female;
}

.total-women-mps-path {
  stroke: $female;
  opacity: 0;
  stroke-dasharray: 0;
}

.half-max-mps-path {
  stroke-dasharray: 5,10;
  stroke: $female;
}

.total-women-mps-area {
  fill: $female;
}

.max-mps-area {
  fill: $male;
}

.i5050-label,
.men-label,
.women-label {
  font-weight: 500;
  text-anchor: middle;
}

.women-label {
  alignment-baseline: ideographic;
  fill: $male;
}

.men-label {
  fill: $female;
}

.i5050-label {
  alignment-baseline: ideographic;
  text-anchor: middle;
  fill: $female;
}

.women-pct-track {
  stroke: steelblue;
}
