$colors: (
  Lab: #c61148,
  Con: #0096db,
  SNP: #fcca46,
  LibDem: #f37a48,
  LD: #f37a48,
  Green: #a1c181,
  SF: #008e4b,
  Other: #50514f, // Used as fallback when no party colour has been defined
  Hover: #e5e5e5, // Used when hovering over an item
  Active: #a1c181 // Used for the active slide on the tracker
);
$tracker-colors: #5c5c5c, #424242;
$body-background: #131313;
$graph-background: #252525;
$tip-background: $body-background;
$female: map-get($colors, Hover);
$male: map-get($colors, Lab);
$slide2-header-color: map-get($colors, Green);
$info-bubble-header-color: map-get($colors, Con);

body {
  background-color: $body-background;
  font-family: 'Quicksand', sans-serif;
  font-size: .5em;
  font-weight: 400;
}

.tracker {
  position: relative;
  z-index: 2;
  height: 60px;
  width: 150px;
  display: flex;
  justify-content: center;
  align-items: center;

  svg {
    width: 60px;
    margin: auto;
  }

  .nav-prev {
    margin: auto;
  }

  .nav-next {
    margin: auto;
  }

  .tracker-hexagon {
    stroke: map-get($colors, Active);
    stroke-width: 8px;
    fill: none;
  }

  .arc {
    @each $item in $tracker-colors {
      &.c-#{index($tracker-colors, $item)} {
        fill: $item;
      }
    }

    &.active {
      fill: map-get($colors, Active);

      text {
        fill: nth($tracker-colors, 1);
      }
    }

    &.hover {
      fill: map-get($colors, Hover);

      text {
        fill: nth($tracker-colors, 1);
      }
    }
  }

  text {
    cursor: default;
    user-select: none;
    fill: map-get($colors, Green);
    text-anchor: middle;
    alignment-baseline: middle;
    font-weight: bold;
    font-size: 1.5em;
  }
}
$nav-button-bg: map-get($colors, Lab);
$nav-button-fg: lighten(map-get($colors, Hover), 50);

.nav-next,
.nav-prev {
  box-shadow: inset 0 34px 0 -15px $nav-button-bg;
  background-color: lighten($nav-button-bg, 3);
  border: 1px solid darken($nav-button-bg, 30);
  display: inline-block;
  cursor: pointer;
  color: $nav-button-fg;
  font-size: .8rem;
  font-weight: bold;
  padding: 5px;
  text-decoration: none;
  text-shadow: 1px 1px 1px darken($nav-button-fg, 50);
}

.nav-next:hover,
.nav-prev:hover {
  background-color: lighten($nav-button-bg, 20);
}

.nav-next:active,
.nav-prev:active {
  position: relative;
  top: 1px;
}

.x-axis line,
.x-axis path,
.y-axis line,
.y-axis path {
  stroke: invert($graph-background);
  stroke-width: .5;
}

.x-axis text,
.x-label,
.y-axis text,
.y-label {
  fill: invert($graph-background);
  font-family: 'Quicksand', sans-serif;
  font-size: 1rem;
  font-weight: 500;
}

.x-label,
.y-label {
  text-anchor: middle;
  font-size: 1.1rem;
  font-weight: 500;
}

.x-label {
  alignment-baseline: hanging;
}
@media only screen and (-webkit-min-device-pixel-ratio: 1.3), only screen and (-o-min-device-pixel-ratio: 13 / 10), only screen and (min-resolution: 120dpi) {
  .x-axis text,
  .x-label text,
  .x-label text,
  .y-axis text {
    font-size: 1rem;
  }
}
@media screen and (max-width: 500px) {
  .x-axis text,
  .x-label text,
  .x-label text,
  .y-axis text {
    font-size: .8rem;
  }
}

.d3-graph {
  background-color: $graph-background;
  border-radius: 1px;
  bottom: 0;
  left: 0;
  margin: 10px;
  position: fixed;
  right: 0;
  top: 0;
}

.info-bubble {
  fill: $info-bubble-header-color;
  stroke: lighten($info-bubble-header-color, 20);
  transition: fill .5s stroke .5s ease-in-out;

  &.hover {
    fill: lighten($info-bubble-header-color, 40);
    stroke: lighten($info-bubble-header-color, 60);
  }
}

.election-rect {
  opacity: .15;
  @each $item in $tracker-colors {
    &.c-#{index($tracker-colors, $item)} {
      fill: $item;
    }
  }

  &.hover {
    opacity: .2;
    fill: map-get($colors, Hover);
  }
}

.women-in-govt-path {
  &.hover {
    stroke-width: 10;
  }
}

blockquote {
  // width: 80%;
  // margin-left: 10%;
  // padding: 36px 0px;
  position: relative;
  // margin-bottom: 28px;
  // &::after,
  // &::before {
  //   top: 0;
  //   bottom: 0;
  //   width: 25px;
  //   content: '';
  //   position: absolute;
  //   background: #c2c2c2;
  //   // box-shadow: 0 2px rgba(0,0,0,.25);
  // }
  //
  // &::before {
  //   right: 100%;
  // }
  //
  // &::after {
  //   left: 100%;
  // }
  p {
    width: 80%;
    margin: auto;
    margin-bottom: 20%;
    font-family: "Open Sans script=all rev=2", sans-serif;
    font-weight: 300;
    font-style: italic;
    font-size: 1rem;
    line-height: 1.5rem;
    overflow: auto;
  pointer-events: all;

    &::before {
      top: 0;
      left: 16px;
      color: #fff;
      content: '“';
      font-size: 4em;
      position: absolute;
      // text-shadow: -3px 0 #c2c2c2;
    }

    &::after {
      right: 16px;
      color: #fff;
      content: '”';
      bottom: -32px;
      font-size: 4em;
      position: absolute;
      // text-shadow: 3px 0 #c2c2c2;
    }
  }
}
$tip-padding: 1;

#tooltip {
  background-color: rgba($tip-background, .8);
  color: invert($tip-background);
  border: solid 1px $tip-background;
  border-radius: 5px;
  box-shadow: 1px 1px 5px rgba($tip-background, .8);
  font-size: 1rem;
  font-weight: 500;
  height: 10rem;
  width: 20rem;
  line-height: 1;
  overflow: hidden;
  padding: $tip-padding + em;
  pointer-events: none;
  position: absolute;
  left: 20%;
  top: 10%;

  .slide2-tooltip,
  .slide3-tooltip,
  .slide4-tooltip {
    font-size: 1rem;
    font-weight: 200;
    text-align: center;
    vertical-align: middle;

    span {
      font-weight: bold;
    }

    .female {
      color: $female;
    }

    .male {
      color: $male;
    }

    .gender-ratio {
      font-size: 5rem;
    }

    h1 {
      background-color: $slide2-header-color;
    }
  }

  .info-bubble-tip {
    font-size: .8rem;
    font-weight: 200;

    h1 {
      background-color: $info-bubble-header-color;
    }

    .date {
      font-weight: bold;
    }

    .body {
      margin-top: .8em;
    }
  }

  h1 {
    display: block;
    font-size: 1rem;
    font-weight: bold;
    margin-top: 0;
    padding: .5rem;
    text-align: center;
    text-shadow: 1px 1px 1px rgba(black, .5);
  }
  // This is for parties that don't have a logo
  .mp-party,
  .mp-party-logo {
    width: 4rem;
    height: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    right: $tip-padding + rem;
    bottom: $tip-padding + rem;
    font-size: 2rem;
    font-weight: bolder;
    word-break: break-all;
  }

  .mp-party {
    background-color: map-get($colors, Other);
  }

  .mp-image-parent {
    width: 5rem;
    height: 5rem;
    // border: 0.5px solid white;
    overflow: hidden;
  }

  .mp-image {
    width: 100%;
    height: 100%;
    transform: translate(0, -5rem);
    // opacity: 0;
    transition: opacity .5s linear;
  }

  .mp-image-blurred {
    width: 100%;
    height: 100%;
    filter: blur(4px);
  }

  .slide4-tooltip {
    animation: fadein 1s;
    @keyframes fadein {
      from {
        opacity: 0;
      }

      to {
        opacity: 1;
      }
    }

    .mp-name {
      font-size: 1.5rem;
      padding: $tip-padding + em;
    }
  }
}
@media screen and (min-height: 500px) {
  .mp-party,
  svg {
    bottom: 1.5 * $tip-padding + em;
    right: 1.5 * $tip-padding + em;
  }
}

.chart-title {
  fill: invert($graph-background);
  font-family: 'Quicksand', sans-serif;
  font-size: 1rem;
  font-weight: 500;
}
@media only screen and (-webkit-min-device-pixel-ratio: 1.3), only screen and (-o-min-device-pixel-ratio: 13 / 10), only screen and (min-resolution: 120dpi) {
  .chart-title {
    font-size: 1.5rem;
  }
}
@media screen and (max-width: 500px) {
  .chart-title {
    font-size: 1rem;
  }
}

.half-max-mps-path,
.max-mps-path,
.total-women-mps-path {
  stroke-linejoin: round;
  stroke-linecap: round;
  fill: none;
}

.max-mps-path,
.total-women-mps-path {
  stroke: $female;
}

.half-max-mps-path {
  stroke-dasharray: 5,10;
  stroke: $female;
}

.total-women-mps-area {
  fill: $female;
}

.max-mps-area {
  fill: $male;
}

.i5050-label,
.men-label,
.women-label {
  font-weight: 500;
  text-anchor: middle;
}

.women-label {
  alignment-baseline: ideographic;
  fill: $male;
}

.men-label {
  fill: $female;
}

.i5050-label {
  alignment-baseline: ideographic;
  text-anchor: middle;
  fill: $female;
}

.women-pct-track {
  stroke: steelblue;
}
