$colors: (
  Lab: #E31331,
  Con: #2A9FD7,
  SNP: #fcca46,
  LibDem: #f37a48,
  LD: #f37a48,
  Green: #a1c181,
  SF: #008e4b,
  Other: #50514f, // Used as fallback when no party colour has been defined
  Male: #7A47C6,
  Female: #e5e5e5,
  Hover: #e5e5e5, // Used when hovering over an item
  Active: #a1c181 // Used for the active slide on the tracker
);

$margin-top: 50;
$margin-right: 20;
$margin-bottom: 30;
$margin-left: 70;

$tracker-colors: #5c5c5c, #424242;
$body-background: #131313;
$graph-background: #252525;
$tip-background: $body-background;
$female: map-get($colors, Female);
$male: map-get($colors, Male);
$slide2-header-color: map-get($colors, Green);
$info-bubble-header-color: map-get($colors, Con);
$tablet-width: 768px;
$desktop-width: 1024px;
@mixin phone {
  @media (max-width: #{$tablet-width - 1px}) {
    @content;
  }
}
@mixin tablet {
  @media (min-width: #{$tablet-width}) and (max-width: #{$desktop-width - 1px}) {
    @content;
  }
}
@mixin desktop {
  @media (min-width: #{$desktop-width}) {
    @content;
  }
}
@mixin hidpi {
  @media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2/1), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
    @content;
  }
}

body {
  -webkit-font-smoothing: antialiased;
  background-color: $body-background;
  color: invert($body-background);
  font-family: 'Quicksand', sans-serif;
  font-size: 1em;
  font-weight: 400;
  line-height: 2;
  margin: auto 0;
}

#header {
  margin: 5rem auto;
  max-width: 50rem;
  @include phone {
    margin: 1.5rem;
  }

  h1 {
    margin: .5rem auto;
    text-align: center;
    font-size: 4rem;
    font-weight: bold;
    line-height: 1.5;
    @include phone {
      font-size: 2.5rem;
    }
  }

  h2 {
    margin: .5rem auto;
    text-align: center;
    font-size: 1.5rem;
    font-weight: lighter;
    @include phone {
      font-size: 1.2rem;
    }
  }

  h3 {
    margin-top: .5rem;
    text-align: center;
    font-size: 1rem;
    font-weight: lighter;
  }

  p {
    margin: 3rem;
    @include phone {
      margin: 2rem 1rem;
    }
  }
}

.outer {
  vertical-align: middle;
  display: inline-block;
  border-top: .3rem #593989 solid;
  border-bottom: .3rem #593989 solid;
  line-height: 1;
  background-color: white;
}

.inner {
  padding: .2rem 1rem;
  border-top: .3rem #22784a solid;
  border-bottom: .3rem #22784a solid;
  color: #3A3A39;
  font-weight: bold;
  font-family: Lato, sans-serif;
  text-align: center;

  .top {
    font-size: 2rem;
    @include phone {
      font-size: 3rem;
    }
  }

  .bottom {
    font-size: 1rem;
    @include phone {
      font-size: 1.5rem;
    }
  }
}

#footer {
  margin: 5rem auto;
  max-width: 50rem;
  @include phone {
    margin: 3rem 2rem;
  }
  @include tablet {
    margin: 5rem 2rem;
  }
}

#scroll {
  position: relative;
}

.scroll__graphic {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  left: 0;
  bottom: auto;
  width: 100%;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  background-color: $graph-background;
}

.chart {
  // height: 95vh;
  position: absolute;
  right: 1rem;
  // top: 50%;
  // transform: translateY(-50%);
}

.scroll__text {
  // padding: 5rem;
  // padding-top: 30vh;
  pointer-events: none;
  position: relative;
  padding-left: 120px;
  max-width: 30rem;
  transition: 1s opacity ease-in-out;
  @include phone {
    padding-left: 30px;
  }
}

.step {
  opacity: 1;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  position: relative !important;
  z-index: 99;
  background-color: rgba($tip-background, .8);
  color: invert($tip-background);
  border: solid 1px $tip-background;
  border-radius: 5px;
  -webkit-box-shadow: 1px 1px 5px rgba($tip-background, .8);
  box-shadow: 1px 1px 5px rgba($tip-background, .8);
  font-size: 1rem;
  font-weight: 500;
  // height: 33vh !important;
  // height: unset !important;
  width: 50vw !important;
  max-width: 35rem !important;
  line-height: 1.5 !important;
  padding: 1rem !important;
  // margin-top: 50vh;
  // margin-bottom: 50vh;
  margin-top: 2rem;
  margin-bottom: 2rem;
  -webkit-transition: opacity 1s ease-in-out;
  transition: opacity 1s ease-in-out;
  left: unset !important;
  pointer-events: none;
  @include phone {
    width: 75vw !important;
    font-size: .8rem;
    font-weight: 500;
  }
  @include tablet {
    width: 75vw !important;
  }

  .mp-party-logo {
    padding-bottom: .5rem;
    width: 5rem !important;
    height: 5rem !important;
    right: unset !important;
  }

  &.is-active {
    opacity: 1;
  }

  .body {
    grid-template-areas: "photo facts" "photo text" !important;
    @include phone {
      grid-template-areas: "photo facts" "text text" !important;
    }
  }

  .body-container {
    @include phone {
      display: unset !important;
    }
  }

  .body-text {
    grid-area: text;
  }

  .mp-constituency {
    @include phone {
      width: 90%;
    }
  }

  .mp-constituency::before {
    @include phone {
      content: "DIST." !important;
    }
  }

  .mp-party-logo {
    grid-area: photo;
    @include phone {
      opacity: 0 !important;
    }
  }
}

.annotation path {
  stroke: map-get($colors, Hover);
  stroke-width: 2;
}

.annotation text,
.connector-dot {
  fill: map-get($colors, Hover);
  font-size: 1rem;
  @include phone {
    font-size: .8rem;
  }
}

#zoom-checkbox {
  top: 15%;
  position: fixed;
  z-index: 6;
  opacity: 0;
  transform: translateZ(0);
  transition: opacity 1s ease-in-out;

  label {
    color: darken(map-get($colors, Hover), 20) !important;
    padding-left: 4rem !important;
  }

  label::before {
    background: rgba(0,0,0,.3);
  }

  input:checked~label {
    color: map-get($colors, Hover) !important;
  }

  input:focus:checked~label {
    color: lighten(map-get($colors, Hover), 20) !important;
  }
}

a {
  color: crimson;
  text-decoration: none;
}

.x-axis line,
.x-axis path,
.y-axis line,
.y-axis path {
  // stroke-opacity: 0;
  stroke: invert($graph-background);
  stroke-width: .5;
}

.x-axis text,
.x-label,
.y-axis text,
.y-label {
  pointer-events: none;
  fill: invert($graph-background);
  font-family: 'Quicksand', sans-serif;
  font-size: 1rem;
  font-weight: 500;
  -webkit-transition: opacity .5s ease-in-out;
  transition: opacity .5s ease-in-out;
  @include phone {
    font-size: .7rem;
  }
}

.x-custom-axis {
  -webkit-transition: opacity .5s ease-in-out;
  transition: opacity .5s ease-in-out;
}

.x-custom-label {
  -webkit-transition: opacity .5s ease-in-out;
  transition: opacity .5s ease-in-out;
  @include phone {
    font-size: .7rem;
  }
}

.x-axis,
.y-axis {
  -webkit-transition: opacity .5s ease-in-out;
  transition: opacity .5s ease-in-out;
}

.x-label,
.y-label {
  text-anchor: middle;
  font-size: 1rem;
  font-weight: 500;
  -webkit-transition: opacity .5s ease-in-out;
  transition: opacity .5s ease-in-out;
  @include phone {
    font-size: .8rem;
  }
}

.x-label {
  alignment-baseline: hanging;
}

#timeline {
  // border-radius: 1px;
  // bottom: 0;
  left: 0;
  // margin: 10px;
  // position: absolute;
  height: 95vh;
  right: 0;
  // top: 0;
  canvas,
  svg {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
  }
}

#mouseover-svg {
  top: 0;
  left: 0;
  pointer-events: none;
  position: absolute;
  opacity: 1;
  -webkit-transition: opacity .5s ease-in-out;
  transition: opacity .5s ease-in-out;

  line {
    opacity: 0;
    stroke-linejoin: round;
    stroke-linecap: round;
    stroke: map-get($colors, Hover);
  }

  circle {
    opacity: 0;
    fill: none;
    stroke: map-get($colors, Hover);
  }
}

#hidden-canvas,
#visible-canvas {
  top: 0;
  vertical-align: top;
  left: 0;
  position: absolute;
  -webkit-transition: opacity .5s ease-in-out;
  transition: opacity .5s ease-in-out;
}

#hidden-canvas {
  display: none;
  pointer-events: none;
}

.info-bubble {
  fill: $info-bubble-header-color;
  stroke: lighten($info-bubble-header-color, 20);
  -webkit-transition: fill .5s stroke .5s ease-in-out;
  transition: fill .5s stroke .5s ease-in-out;

  &.hover {
    fill: lighten($info-bubble-header-color, 40);
    stroke: lighten($info-bubble-header-color, 60);
  }
}

.election-rect {
  opacity: .15;
  @each $item in $tracker-colors {
    &.c-#{index($tracker-colors, $item)} {
      fill: $item;
    }
  }

  &.hover {
    opacity: .35;
    fill: map-get($colors, Hover);
  }
}

.women-in-govt-path {
  &.hover {
    stroke-width: 10;
  }
}

.female-median,
.female-node {
  fill: $female;
}

.male-median,
.male-node {
  fill: $male;
}

.female-median:hover,
.female-node:hover,
.male-median:hover,
.male-node:hover {
  fill: map-get($colors, Hover);
}

.median-connector {
  stroke: #fff;
}

.hover-rect {
  opacity: 0;
}
$tip-padding: .5;

.tooltip {
  z-index: 99;
  opacity: 1;
  background-color: rgba($tip-background, .9);
  color: invert($tip-background);
  border: solid 1px $tip-background;
  border-radius: 5px;
  -webkit-box-shadow: 1px 1px 5px rgba($tip-background, .8);
  box-shadow: 1px 1px 5px rgba($tip-background, .8);
  font-size: 1rem;
  font-weight: 500;
  // height: 20vh;
  width: 40vw;
  max-width: 35rem;
  line-height: 1.5;
  overflow: hidden;
  padding: $tip-padding + rem;
  pointer-events: none;
  position: absolute;
  left: 20%;
  top: 10%;
  @include phone {
    width: 75vw !important;
    font-size: .8rem;
    line-height: 1.3;
  }

  .slide2-tooltip,
  .slide3-tooltip {
    font-size: 1rem;
    font-weight: 200;
    text-align: center;
    vertical-align: middle;

    p {
      font-weight: 500;
      font-size: 2rem;
      margin: 0;
      @include phone {
        font-size: 1.5rem;
      }
    }

    span {
      font-weight: bold;
    }

    .female {
      color: $female;
    }

    .male {
      color: $male;
    }

    .gender-ratio {
      font-size: 5rem;
      @include phone {
        font-size: 3rem;
      }
    }

    h1 {
      background-color: $slide2-header-color;
    }
  }

  .info-bubble-tip {
    font-size: .8rem;
    font-weight: 200;

    h1 {
      background-color: $info-bubble-header-color;
    }

    .date {
      font-weight: bold;
    }

    .body {
      margin-top: .8em;
    }
  }

  h1 {
    display: block;
    font-size: 1rem;
    font-weight: bold;
    margin-top: 0;
    margin-bottom: $tip-padding + rem;
    padding: .5rem;
    text-align: center;
    text-shadow: 1px 1px 1px rgba(black, .5);
    @include phone {
      font-size: .8rem;
      // padding: 0.2rem;
    }
  }

  hr {
    width: 50%;
    margin-top: $tip-padding + rem;
    margin-bottom: $tip-padding + rem;
    border: 0;
    height: 1px;
    background: invert($tip-background);
  }
  // This is for parties that don't have a logo
  .mp-party,
  .mp-party-logo {
    width: 4rem;
    height: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    right: $tip-padding + rem;
    bottom: $tip-padding + rem;
    font-size: 2rem;
    font-weight: bolder;
    word-break: break-all;
  }

  .mp-term {
    overflow: hidden;
    margin-bottom: .5rem;

    &::before {
      content: 'TERM';
      font-weight: bolder;
      font-size: .8rem;
      margin-right: .5rem;
      padding: 2px;
      background-color: invert($tip-background);
      color: $tip-background;
    }
  }

  .mp-constituency {
    width: 80%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

    &::before {
      content: 'DISTRICT';
      font-weight: bolder;
      font-size: .8rem;
      margin-right: .5rem;
      padding: 2px;
      background-color: invert($tip-background);
      color: $tip-background;
      @include phone {
        content: "DIST.";
      }
      @include tablet {
        content: "DIST.";
      }
    }
    @include phone {
      width: 90%;
    }
    @include tablet {
      width: 90%;
    }
  }

  .mp-party {
    background-color: map-get($colors, Other);
  }

  .mp-image-parent {
    width: 5rem;
    height: 5rem;
    // border: 0.5px solid white;
    overflow: hidden;
    flex: 0 0 5rem;
    position: relative;
  }

  .mp-image {
    width: 100%;
    height: 100%;
    // transform: translate(0, -5rem);
    // opacity: 0;
    transition: opacity .5s linear;
    position: absolute;
    top: 0;
  }

  .mp-image-blurred {
    width: 100%;
    height: 100%;
    filter: blur(4px);
    position: absolute;
  }
  // .body-container {
  //   display: flex;
  // }
  .body {
    padding: 0 !important;
    display: grid;
    grid-template-columns: 5.5rem auto;
    grid-template-areas: "photo facts";
  }

  .mp-image-parent {
    grid-area: photo;
  }

  .body-facts {
    z-index: 5;
    grid-area: facts;
    align-self: center;
  }
}

#tooltip {
  position: fixed;
  left: 0;
  top: 0;
  opacity: 0;
  // transform: translate(20vh, 25vh) translateZ(0);
  transition: transform .1s ease-in-out;
  box-shadow: none;
  padding: 0;
  border-width: 0;

  @include phone {
    left: $margin-left + 1 + px;
    top: 25%;
    margin: auto;
    width: calc(100% - #{$margin-left + px} - #{$margin-right + px} - 1px) !important;
    transform: none !important;
  }

  &::after {
    border-bottom: 2px solid map-get($colors, Hover);
    content: "";
    padding-bottom: .5rem;
    display: block;
    margin: 0 auto;
  }
}

.slide3-tooltip {
  @include phone {
    top: 10% !important;
  }
}

.slide5-tooltip {
  @include phone {
    left: $margin-left/2 + px !important;
  }
}

.slide5-search {
  display: inline-block;
  vertical-align: middle;
  // text-align: center;
  transform: translateZ(0) translateX(10vw);
  font-size: 1rem;
  font-weight: 200;
  position: fixed;
  z-index: 50;
  transition: opacity .2s ease-in-out;
  top: 15%;
  left: 0;
  right: 0;
  // margin: 0 auto;
  width: 50%;
  max-width: 80ch;
  @include phone {
    font-size: .8rem;
    width: 80%;
  }

  input {
    font-size: inherit;
    border: 1px solid rgb(169, 169, 169);
    background-color: $graph-background;
    color: invert($graph-background);
    width: 100%;
    padding: .5em;
    margin: 0;
    border-radius: 3px;
    box-sizing: border-box;
  }

  .autocomplete-items {
    position: absolute;
    border: 1px solid rgb(169, 169, 169);
    border-bottom: 0;
    border-top: 0;
    z-index: 99;
    //position the autocomplete items to be the same width as the container:
    max-height: 30vh;
    overflow-y: auto;
    width: 100%;
    // margin: auto;
    top: 100%;
    left: 0;
    right: 0;
    box-sizing: border-box;
  }

  .autocomplete-items div {
    padding: .5em;
    cursor: pointer;
    background-color: $graph-background;
    border-bottom: 1px solid lighten($graph-background, 10);
  }

  .autocomplete-items div:hover {
    // when hovering an item:
    background-color: darken($graph-background, 10);
  }

  .autocomplete-active {
    //when navigating through the items using the arrow keys:
    background-color: $male !important;
    color: invert($graph-background);
  }
}

.slide5-dropdown {
  display: inline-block;
  vertical-align: middle;
  text-align: center;
  transform: translateZ(0);
  font-size: 1rem;
  font-weight: 200;
  text-transform: uppercase;
  position: fixed;
  z-index: 50;
  transition: opacity .2s ease-in-out;
  top: 2%;
  left: 0;
  right: 0;
  margin: 0 auto;
  width: 50%;
  @include phone {
    font-size: .8rem;
    width: 80%;
  }
}

.slide5-dropdown__select {
  font-family: 'Consolas', monospace;
  font-size: inherit;
  padding: .5em;
  margin: 0;
  background-color: $graph-background;
  color: invert($graph-background);
  // border: 0;
  border-radius: 3px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  padding-right: 2.5em;
  @include phone {
    padding-right: 1.5em;
  }
}

.slide5-dropdown::after {
  position: fixed;
  pointer-events: none;
  content: "\25BC";
  height: 1em;
  font-size: .625em;
  line-height: 1;
  top: 50%;
  margin-top: -.5em;
  color: invert($graph-background);
  transform: translateX(-1rem);
}

.switch {
  display: inline-block;
  width: 52px;
  height: 25px;
  top: 15%;
  transform: translateZ(0);
  position: fixed;
  z-index: 6;
  opacity: 0;
  transition: opacity .2s ease-in-out;
}

.switch input {
  display: none;
}

.switch div {
  width: 30vw;
  transform: translate(57px, -2px);
}

.switch div label {
  cursor: pointer;
  @include phone {
    font-size: small;
  }
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  transition: .4s;
  border-radius: 34px;

  &:before {
    border-radius: 50%;
  }
}

.slider:before {
  position: absolute;
  content: "";
  height: 18px;
  width: 18px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  transition: .4s;
}

input:checked + .slider {
  background-color: map-get($colors, Green);
}

input:focus + .slider {
  box-shadow: 0 0 1px map-get($colors, Green);
}

input:checked + .slider:before {
  transform: translateX(26px);
}

#slide3-group,
#slide6-group {
  transition: opacity .5s ease-in-out;
}

.chart-title {
  fill: invert($graph-background);
  font-family: 'Quicksand', sans-serif;
  font-size: 1rem;
  font-weight: 500;
}

.half-max-mps-path,
.max-mps-path,
.total-women-mps-path {
  stroke-linejoin: round;
  stroke-linecap: round;
  fill: none;
}

.max-mps-path {
  stroke: $female;
}

.total-women-mps-path {
  stroke: $female;
  opacity: 0;
  stroke-dasharray: 0;
}

.half-max-mps-path {
  stroke-dasharray: 5,10;
  stroke: $female;
}

.total-women-mps-area {
  fill: $female;
}

.max-mps-area {
  fill: $male;
}

.i5050-label,
.men-label,
.women-label {
  font-weight: 500;
  text-anchor: end;
  font-size: 2.5rem;
  @include phone {
    font-size: 1.5rem;
  }
}

.women-label {
  fill: $male;
}

.men-label {
  fill: $female;
}

.i5050-label {
  // alignment-baseline: ideographic;
  text-anchor: middle;
  fill: $female;
  font-size: 2rem;
  @include phone {
    font-size: 1rem;
  }
}

.women-pct-track {
  stroke: steelblue;
}
