@import url("//fonts.googleapis.com/css?family=Quicksand:400,500");
body {
  background-color: #131313;
  font-family: 'Quicksand', sans-serif;
  font-size: .5em;
  font-weight: 400; }

.tracker {
  position: relative;
  z-index: 2;
  height: 60px;
  width: 150px;
  display: flex;
  justify-content: center;
  align-items: center; }
  .tracker svg {
    width: 60px;
    margin: auto; }
  .tracker .nav-prev {
    margin: auto; }
  .tracker .nav-next {
    margin: auto; }
  .tracker .arc.c-1 {
    fill: #5c5c5c; }
  .tracker .arc.c-2 {
    fill: #424242; }
  .tracker .arc.active {
    fill: #a1c181; }
  .tracker .arc.hover {
    fill: #e5e5e5; }

.nav-next,
.nav-prev {
  box-shadow: inset 0 34px 0 -15px #c61148;
  background-color: #d4124d;
  border: 1px solid #390515;
  display: inline-block;
  cursor: pointer;
  color: white;
  font-size: .8rem;
  font-weight: bold;
  padding: 5px;
  text-decoration: none;
  text-shadow: 1px 1px 1px gray; }

.nav-next:hover,
.nav-prev:hover {
  background-color: #f04d7f; }

.nav-next:active,
.nav-prev:active {
  position: relative;
  top: 1px; }

.x-axis line,
.x-axis path,
.y-axis line,
.y-axis path {
  stroke: #dadada;
  stroke-width: .5; }

.x-axis text,
.y-axis text {
  fill: #dadada;
  font-family: 'Quicksand', sans-serif;
  font-size: 1rem;
  font-weight: 500; }

@media only screen and (-webkit-min-device-pixel-ratio: 1.3), only screen and (-o-min-device-pixel-ratio: 13 / 10), only screen and (min-resolution: 120dpi) {
  .x-axis text,
  .y-axis text {
    font-size: 1rem; } }
@media screen and (max-width: 500px) {
  .x-axis text,
  .y-axis text {
    font-size: .8rem; } }
.d3-graph {
  background-color: #252525;
  border-radius: 10px;
  bottom: 0;
  left: 0;
  margin: 10px;
  position: fixed;
  right: 0;
  top: 0; }

.info-bubble {
  fill: #0096db;
  stroke: #42c3ff; }
  .info-bubble.hover {
    fill: #75d4ff;
    stroke: #dbf4ff; }

.election-rect {
  opacity: .1; }
  .election-rect.hover {
    opacity: .5;
    fill: #e5e5e5; }

.d3-tip {
  background: rgba(19, 19, 19, 0.8);
  border-radius: 5px;
  color: #ececec;
  font-size: 1rem;
  font-weight: 500;
  height: 12rem;
  line-height: 1;
  overflow: hidden;
  padding: 1em;
  pointer-events: none;
  width: 20rem;
  position: absolute;
  left: 300px; }
  .d3-tip .slide2-tooltip {
    font-size: 1rem;
    font-weight: 200;
    text-align: center; }
    .d3-tip .slide2-tooltip span {
      font-weight: bold; }
    .d3-tip .slide2-tooltip span.female {
      color: #e5e5e5; }
    .d3-tip .slide2-tooltip span.male {
      color: #c61148; }
    .d3-tip .slide2-tooltip .gender-ratio {
      font-size: 5rem; }
    .d3-tip .slide2-tooltip h1 {
      background-color: #a1c181; }
  .d3-tip h1 {
    display: block;
    font-size: 1rem;
    font-weight: bold;
    margin-top: 0;
    padding: .5rem;
    text-align: center;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5); }
  .d3-tip .mp-party {
    width: 4rem;
    height: 4rem;
    font-size: 2rem;
    font-weight: bolder;
    background-color: #50514f;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    right: 1rem;
    bottom: 1rem;
    word-break: break-all; }
  .d3-tip svg {
    width: 4rem;
    height: 4rem;
    position: absolute;
    right: 1em;
    bottom: 1em; }

@media screen and (min-height: 500px) {
  .mp-party,
  svg {
    bottom: 1.5em;
    right: 1.5em; } }
.chart-title {
  fill: #dadada;
  font-family: 'Quicksand', sans-serif;
  font-size: 1rem;
  font-weight: 500; }

@media only screen and (-webkit-min-device-pixel-ratio: 1.3), only screen and (-o-min-device-pixel-ratio: 13 / 10), only screen and (min-resolution: 120dpi) {
  .chart-title {
    font-size: 1.5rem; } }
@media screen and (max-width: 500px) {
  .chart-title {
    font-size: 1rem; } }
.total-women-mps-path,
.half-max-mps-path,
.max-mps-path {
  stroke-linejoin: round;
  stroke-linecap: round;
  fill: none; }

.max-mps-path,
.total-women-mps-path {
  stroke: #e5e5e5; }

.half-max-mps-path {
  stroke-dasharray: 5,10;
  stroke: #e5e5e5; }

.total-women-mps-area {
  fill: #e5e5e5; }

.max-mps-area {
  fill: #c61148; }

/*# sourceMappingURL=style.css.map */
